.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
    transparent
    transparent
    derive(-fx-base, 80%)
    transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.priority-green {
    -fx-background-color: green;
}

.priority-orange {
    -fx-background-color: orange;
}

.priority-red {
    -fx-background-color: red;
}

/*
 * Metro style
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

.text-input{
    -fx-background-radius: 0, 0;

    -fx-background-color: #d2d2d2;
    -fx-background-insets: 0;

    -fx-prompt-text-fill: #818181;

    -fx-highlight-fill: #008287; /* TODO: this probably is the "active" color" */
    -fx-highlight-text-fill: white;
}

.text-input:hover{
    -fx-background-color: #e2e2e2;
}

.text-input:focused{
    -fx-background-color: #5c5c5c, white;

    -fx-text-fill: black;
}

.AgendaWeekSkin .Week {
    -fx-background-color: black;
}

.AgendaWeekSkin .HourLabel {
    -fx-fill: white;
    -fx-stroke: transparent;
}

.AgendaWeekSkin .DayHeader {
    -fx-background-color: black;
}

.AgendaWeekSkin .DayHeader .weekday {
    -fx-fill: white;
}

.AgendaWeekSkin .DayHeader .weekend {
    -fx-fill: white;
}
